/*body {
  padding-top: 70px;
}*/

.main {
  width: 75%;
  margin: 0 auto;
}

form {
  width: 250px;
  margin: 0 auto;
}

.result {
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
}

.toTemp {
  margin-left: 15px;
  width: 75px;
  height: 25px;
  border-radius: 5px;
  border: solid 1px #ddd;
}

.footer {
  border-top: 2px solid #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px;
  padding-top: 8px;
}


